nav {
  background-color: var(--glassback);
  backdrop-filter: blur(3px);
  /* color: #222831; */
  padding: 1.3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  h1 {
    font-size: 2vw;
    text-shadow: 0px 0px 20px var(--whitefont);
    color: var(--whitefont);

    &&:hover {
      text-shadow: 0px 0px 10px var(--bluefont);
      color: var(--bluefont);
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    gap: 20px;
    /* width: 80%; */
    padding-left: 0;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
  }
  li {
    font-size: 1vw;
    /* width: 20%; */
    /* padding: 10px; */
    text-align: center;
    /* background-color: #00acb56b; */
    padding: 15px;
    color: var(--whitefont);
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;

    &&:hover {
      background-color: #3f71af8d;
    }
  }
  .active {
    background-color: #3f72af;
  }
}
