.register_page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* height: 100%; */
  padding: 30px;
  /* background: url("src/images/abstract-dark-blue-futuristic-digital-grid-background.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  scroll-behavior: smooth;
}
.passwordWrap {
  position: relative;

  .validateBoxShow {
    pointer-events: all;
    background-color: #b3c8cf;
    position: absolute;
    /* height: auto; */
    width: 100%;
    top: -100%;
    z-index: 50;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.423);
    transform: /* scale(1)  */ translateY(0);
    transition: 0.5s all ease;

    ul {
      list-style: none;
      padding: 15px;
      .invalid {
        color: #ff0000;
      }
      .valid {
        color: #00ff66;
      }
    }
  }
  .hideValidate.validateBoxShow {
    transform: /* scale(0) */ translateY(100%);
    opacity: 0;
    height: 100%;
    pointer-events: none;
    transition: 0.5s all ease;
  }
}

.validationForm {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: var(--glassback);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

h1 {
  color: var(--whitefont);
}

.formButton {
  font-size: 20px;
  padding: 10px;
  width: 150px;
  background-color: #2f2f2f;
  color: #ff004c;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  &&:hover {
    color: #2f2f2f;
    background-color: #ff004c;
    box-shadow: 0 0 0.5em #ff004c;
  }
}

.academicDetail,
.personalDetail {
  width: 40%;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* DROPDOWN */
.dropDownHolder {
  position: relative;
  opacity: 1;
}
.dropDownHolder.hidden {
  opacity: 0.5;
  &&:hover {
    cursor: not-allowed;
  }
  pointer-events: none;
}
.selectButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width: 160px;
  background-color: var(--blueback);
  color: var(--greyback);
  border: 2px solid var(--whitefont);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;

  &.error {
    position: relative;
    &&::before {
      content: "";
      height: 15px;
      width: 15px;
      position: absolute;
      right: 10px;
      border-radius: 50%;
      background-color: var(--blueback);
      z-index: 10;
      box-shadow: -1px 0px 5px rgb(0, 0, 0);
    }
    animation: shake 0.2s ease 0s 2;
    box-shadow: 0 0 1em red;
  }
  p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  img {
    width: 20px;
  }
}

/* .error{

}
 */
.dropContent {
  border-radius: 10px;
  padding: 0;
  margin-top: 10px;
  position: absolute;
  height: 0;
  z-index: 100;
  height: 150px;
  background-color: #222831;
  color: var(--greyback);
  width: 100%;
  list-style: none;
  overflow: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%) scale(0);
  pointer-events: none;
  opacity: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.529);
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);

  input {
    /* padding-left: 10px; */
    background-color: #2228319b;
    color: var(--whitefont);
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    position: sticky;
    z-index: 300;
    top: 0;
    font-size: 14px;
    /* font-weight: bo; */
  }

  li {
    z-index: 101;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    padding-left: 20px;
    width: 100%;
    cursor: pointer;
    /* background-color: #ff004c; */
    text-align: center;
    align-items: center;
    /* position: relative; */
    display: flex;
    justify-content: space-between;

    &&:hover {
      background-color: var(--blueback);
      color: var(--whitefont);
    }
    img {
      width: 15px;
      height: 15px;
      /* top: 50%; */
      /* position: absolute; */
      right: 10px;
    }
  }
}

.active_dd_option {
  background-color: var(--blueback);
  color: var(--greyback);
}

.dropContent.dropContent-open {
  border-radius: 10px;
  margin-top: 10px;
  height: auto;
  overflow: auto;
  cursor: pointer;
  pointer-events: all;
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: 0.5s all ease;

  input {
    /* padding-left: 10px; */
    background-color: #2f2f2f;
    color: #fff;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    position: sticky;
    z-index: 300;
    top: 0;
    font-size: 14px;
    /* font-weight: bo; */
  }

  /* li {
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */
}
/* DROPDOWN */

.time_selector {
  padding: 10px;
  width: 100%;
  font-size: 1.3vw;
  background-color: var(--greyback);
  color: var(--whitefont);
  border-radius: 10px;
}
