* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s all ease;
}

body {
  background-color: var(--greyback);
}

:root {
  --blueback: #00adb5;
  --greyback: #393e46;
  --whitefont: #eeeeee;
  --lightgreyback: #272727;
  --bluefont: #00adb5;
  --glassback: #211a1a73;
  /* --darkbluefont: #0864b1; */
  /* --whitecard: #fff; */
}

/* [data-theme="dark"] {
  --blueback: #3e3e3e;
  --whiteback: #3e3e3e;
  --greyback: #292929;
  --whitebackfont: #fff;
  --darkbluefont: #55b3ff;
  --whitecard: #1d1d1d;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--greyback);
}

::-webkit-scrollbar-thumb {
  background: var(--blueback);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00858c;
}

::selection {
  background-color: var(--blueback);
}

.homeWrapper {
  display: flex;
  background-color: var(--greyback);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  align-items: flex-start;

  width: 100%;
  h1 {
    color: #eeeeee;
  }
}

/* TABLE PAGE */

table {
  text-align: center;
  box-shadow: 0px 0px 20px #0000006d;
  border-radius: 10px;
  padding: 10px;
  font-size: 1vw;
  width: 100%;
  position: relative;
  thead {
    /* border-radius: 20px; */
    background-color: var(--lightgreyback);
    color: #fff;
    th {
      border-radius: 5px;
      padding: 10px;
      text-transform: capitalize;
    }
  }
  tbody {
    background-color: var(--greyback);
    color: var(--blueback);
    tr {
      &&:nth-child(even) {
        background-color: var(--lightgreyback);
      }
      td {
        padding: 10px;
        img {
          width: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  /* margin: 20px; */
  z-index: 50;
  background-color: var(--glassback);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  position: sticky;
  bottom: 0px;
  width: 100%;
  /* box-shadow: 0px 0px 10px #000000c9; */

  .page-button {
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 3vw;
    font-size: 1.35vw;
    background-color: #1f1f1f;
    border: none;
    border-radius: 10px;
    color: var(--blueback);
    transition: 0.5s all ease;
    cursor: pointer;
    &&:hover {
      background-color: var(--blueback);
      color: #fff;
    }
  }

  .leftArrow,
  .rightArrow {
    width: 4vw;
    height: 4vw;
    filter: invert(1);
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s all ease;
    &&:hover {
      /* transform: scale(0.8) rotate(180deg); */
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .rightArrow {
    transform: rotate(180deg);
  }

  .page-button.activePage {
    background-color: var(--blueback);
    color: #fff;
    border-radius: 50%;
    transform: scale(1.5);
  }
}

/* PAGINATION */

.display {
  width: 100%;
}

.boxHolder {
  width: 30%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .box {
    background-color: #1f1f1f;
    /* height: 250px; */
    color: var(--blueback);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    p {
      border-radius: 5px;
      background-color: var(--greyback);
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
      text-transform: capitalize;

      &&:hover {
        background-color: var(--greyback) 9f;
      }
    }
  }
}
.box.usergroups {
  width: 100%;
  box-shadow: 0px 0px 20px #0000006d;
  background-color: #1f1f1f;
  /* height: 250px; */
  color: var(--blueback);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
  p {
    cursor: auto;
    position: relative;
    background-color: var(--greyback);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    span {
      position: absolute;
      right: 10px;
    }
  }
}

.search_userList {
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.638); */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* background: #22283145; */
  /* backdrop-filter: blur(2px); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

  input {
    color: #eeeeee;
    background-color: #4e535b;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
  }

  button {
    padding: 10px;
    font-size: 20px;
    width: 80px;
  }
}

/* TABLE PAGE */

.errorPop {
  color: red;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  animation: shake 0.2s ease-in-out 0s 2;
}

.successPop {
  color: #00be1d;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 780px) {
  .homeWrapper {
    flex-direction: column;
  }

  .boxHolder {
    flex-direction: row;
    width: 100%;
  }
}

/* PERMISION PAGE */

.permission_wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  .dropdownHolder {
    width: 200px;
  }

  .permissionHandler {
    display: flex;
    gap: 10px;
  }

  .permissionBox {
    width: 50%;
    padding: 10px;
    background-color: var(--lightgreyback);
    border-radius: 10px;

    .search_userList {
      display: block;
      input {
        width: 100%;
      }
    }

    .permissionList {
      overflow-y: auto;
      height: 200px;
      margin-top: 5px;
      background-color: var(--greyback);
      /* padding: 5px; */
      ul {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        gap: 5px;
        list-style: none;
        li {
          color: #fff;
          padding: 8px;

          border-radius: 5px;
          &&:hover {
            background-color: #00c2cc;
            cursor: pointer;
          }
        }

        .selected {
          background-color: #00858c;
        }
      }
    }
  }
}
/* PERMISION PAGE */
