/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s all ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #393e46;
}

::-webkit-scrollbar-thumb {
  background: #00adb5;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00858c;
}

::selection {
  background-color: #00adb5;
}

.homeWrapper {
  display: flex;
  background-color: #393e46;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  align-items: flex-start;

  /* height: 110vh; */
  width: 100%;
  h1 {
    color: #eeeeee;
  }
  /*  position: fixed;
  top: 0; */
}

table {
  text-align: center;
  box-shadow: 0px 0px 20px #0000006d;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2vw;
  width: 100%;
  position: relative;
  thead {
    /* border-radius: 20px; */
    background-color: #242528;
    color: #fff;
    th {
      border-radius: 5px;
      padding: 10px;
      text-transform: capitalize;
    }
  }
  tbody {
    background-color: #393e46;
    color: #00adb5;
    tr {
      &&:nth-child(even) {
        background-color: #242528;
      }
      td {
        padding: 10px;
        img {
          width: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 20px;
  background-color: #211a1a73;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;

  .page-button {
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 3vw;
    font-size: 1.35vw;
    background-color: #1f1f1f;
    border: none;
    border-radius: 10px;
    color: #00adb5;
    transition: 0.5s all ease;
    cursor: pointer;
    &&:hover {
      background-color: #00adb5;
      color: #fff;
    }
  }

  .leftArrow,
  .rightArrow {
    width: 4vw;
    height: 4vw;
    filter: invert(1);
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s all ease;
    &&:hover {
      /* transform: scale(0.8) rotate(180deg); */
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .rightArrow {
    transform: rotate(180deg);
  }

  .page-button.activePage {
    background-color: #00adb5;
    color: #fff;
    border-radius: 50%;
    transform: scale(1.5);
  }
}

/* PAGINATION */

.display {
  width: 100%;
}

.box {
  background-color: #1f1f1f;
  width: 30%;
  /* height: 250px; */
  color: #00adb5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
  p {
    border-radius: 5px;
    background-color: #393e46;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;

    &&:hover {
      background-color: #393e469f;
    }
  }
}

.box.usergroups {
  width: 100%;
  box-shadow: 0px 0px 20px #0000006d;
  p {
    cursor: auto;
  }
}

.search_userList {
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.638); */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* background: #22283145; */
  /* backdrop-filter: blur(2px); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

  input {
    color: #eeeeee;
    background-color: #4e535b;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
  }

  button {
    padding: 10px;
    font-size: 20px;
    width: 80px;
  }
}
