nav {
  background-color: #000;
  color: #222831;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  li {
    font-size: 20px;
    width: 15%;
    text-align: center;
    background-color: #00adb5;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;
  }
}
